@import "../../global/fonts.scss";

body {
background-color: #DADADA;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #412973;

  h3 {
    margin-left: 10px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 5px;
  }

  svg {
    margin-right: 50px;
    color: #fff;
    cursor: pointer;
  }
}

.content {
  display: flex;

  nav {
    background-color: #412973;
    min-width: 200px;
    min-height: 90.8vh;

    .arrow {
      color: #fff;
      cursor: pointer;
    }
    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        margin: 10px;
        color: #fff;
        text-decoration: none;
        font-family: "Julius Sans One", sans-serif;
        cursor: pointer;

        &:hover {
          font-weight: bold;
        }
      }

      .home-link {
        margin-top: 50px;
      }
    }
  }

  .nav-inactive {
    display: none;
  }

  main {
    margin: 20px;
    width: 100%;

    h4 {
      color: #412973;
      font-weight: bold;
    }

    table {
      overflow-x: auto;
      margin-top: 50px;

      .header {
        color: #412973;
      }
    }
  }
}
