.card {
    background-color: #412973;
    font-size: 12px;
    min-width: 29%;
    margin: 2%;
    border-radius: 10px 10px 10px 10px;
    
    .card-title {
      color: #412973;
      background-color: #a195bc;
      border: none;
      font-size: 15px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }

    .card-body {
      border: none;
      color: #fff;
      text-align: center;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }